<?xml version="1.0" standalone="no"?>
<!DOCTYPE html>
<html>
  <head>
    <title>Likert chart creator</title>
    <meta name="description" content="A tool built with angular.js and d3.js to create charts that visualise 5 point Likert data.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script type="text/javascript" src="./jquery.min.js"></script>
    <script type="text/javascript" src="./d3.min.js"></script>
    <script type="text/javascript" src="./angular.min.js"></script>
    <script type="text/javascript" src="./angular-likert.js"></script>
  </head>
  <body ng-app="likert" ng-controller="likertCtrl as likert">
    <div class="container">
      <h2>Likert graph creator</h2>
      <div class="well">
        <div class="form-group">
          <label class="control-label">
            Number of options
            <input class="form-control" type="number" ng-change="likert.updateNumber()" ng-model="likert.number">
          </label>
        </div>
        <form class="form-horizontal">
          <h4>Labels</h4>
          <div class="form-group" ng-repeat="label in likert.chartData.labels track by $index">
            <label class="control-label col-xs-3">Label for number {{$index+1}} <span class=text-muted>(Optional)</span></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" ng-model="label.label">
            </div>
          </div>
        </form>
      </div>
      <div class="well">
        <form ng-submit="likert.addRow()" class="form-horizontal" name="likert.likertForm" novalidate>
          <h4>Add row to chart</h4>
          <div class="form-group">
            <label class="control-label col-xs-1">Question</label>
            <div class="col-xs-11">
              <input class="form-control" type="text" name="question" ng-model="likert.newRow.question" required>
            </div>
          </div>
          <div class="form-group">
            <label ng-repeat-start="response in likert.newRow.responses track by $index" class="control-label col-xs-1">{{$index+1}}</label>
            <div ng-repeat-end class="col-xs-1">
              <input class="form-control" name="one" type="number" ng-model="response.response" min="0" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <button class="btn btn-primary" type="submit">Add row</button>
            </div>
          </div>
        </form>
      </div>
      <div class="well">
        <h4>Rows added</h4>
        <p ng-show="likert.chartData.data.length == 0" class="text-muted">No rows added yet.</p>
        <table class="table table-striped" ng-show="likert.chartData.data.length > 0">
          <thead>
            <tr>
              <td></td>
              <th ng-repeat="label in likert.chartData.labels track by $index">{{$index+1}}<span ng-show="label.label != null">&nbsp;({{label.label}})</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dataRow in likert.chartData.data track by $index">
              <td>{{dataRow.question}}</td>
              <td ng-repeat="response in dataRow.responses track by $index">{{response.response}}</td>
              <td><button class="btn btn-danger btn-xs" type="button" ng-click="likert.removeRow($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <h4>Chart type</h4>
        <div class="radio">
          <label>
            <input type="radio" ng-model="likert.chartData.chartType" value="bubbles"> Bubbles
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="likert.chartData.chartType" value="stackedBar"> Stacked bars
          </label>
        </div>
      </div>
      <img class="img-responsive" style="margin-top: 20px; margin-bottom: 20px;" id="png">
      <div style="margin-bottom: 20px; display: none;" likert-chart chart-data="likert.chartData"></div>
      <div class="form-group">
        <a href="" download="" class="btn btn-default" id="downloadButton"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Save image</a>
      </div>
    </div>
  </body>
</html>
